global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend api
  bind *:3000
  default_backend servers

backend servers
  server api1 localhost:3001 check
  server api2 localhost:3002 check
  server api3 localhost:3003 check
